@import-normalize;
@import "helper";

* {
  box-sizing: border-box;
  font-family: $font-zidingyi;
  //background-color: rgb(246, 246, 246);
}

body {
  font-family: $font-zidingyi;
  color: rgb(55, 51, 51);
  margin: 2px;
  padding: 2px;
  font-size: 16px;
  line-height: 1.2;
  background: #eee;
}

button,input {
  font: inherit;
}
::after{
  box-sizing: border-box;
}
::before{
  box-sizing: border-box;
}

ul,li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
:focus {
  outline: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.oneLine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}